* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100vh;
    padding: 20px;
}

header {
    display: flex;
    flex-direction: row;
    background-color: black;
    border-radius: 5px;
}

p {
    font-size: 16px;
    text-align: left;
    padding: 20px;
    overflow-wrap: break-word;
    line-height: 1.25;
}

.section-text {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 5px solid grey;
    position: relative;
    padding: 25px;
    max-width: 70%;
    z-index: 100;
    margin-block-start: 100px;
    margin-inline-start: 15%;
    text-align: center;
}
input {
    max-width: 100%;
}

h1 {
    flex-basis: 35%;
    display: flex;
    align-items: center;
    padding-inline-start: 25px;
    font-size: 1.5rem;
    color: white;

}

h3,
h4 {
    padding: 5px;
}

nav {
    flex-basis: 60%;
    position: relative;
    color: wheat;
}

li {
    list-style-type: none;
    padding-inline-start: 15px;
    font-size: 1rem;
}

ul {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

#grid-container {
    display: grid;
    max-inline-size: 100%;
    gap: 10px;
    padding: 10px;
    grid-template-areas: "about-me about-me"
        "website-1 website-2"
        "website-3 website-4";
    grid-template-rows: auto 300px 300px;
    grid-template-columns: 1fr 1fr;
}

#about-me {
    grid-area: about-me;
    border: solid black 1px;
    text-align: center;
    border-radius: 5px;
    background-image: url("../images/rainbow.webp");
    background-size: cover;
}

#website-1 {
    grid-area: website-1;
    background-image: url("../images/Horiseon-deployed-screenshot.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#website-2 {
    grid-area: website-2;
    background-image: url("../images/Landing-page.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#website-3 {
    grid-area: website-3;
    background-image: url("../images/02-run-buddy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#website-4 {
    grid-area: website-4;
    background-image: url("../images/02-portfolio-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#profile {
    max-width: 20%;
    height: auto;
    padding: 10px;
}

#website-1,
#website-2,
#website-3,
#website-4 {
    text-align: center;
    border: solid black 1px;
    border-radius: 5px;
}


footer {
    margin-block-end: 10px;
    background-color: black;
    border-radius: 5px;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    padding: 10px;
    text-decoration: none;
    color: wheat;
}

footer a:hover {
    cursor: pointer;
}

footer h4 {
    padding-inline-start: 25px;
}

#contact-links {
    margin-inline-end: 25px;
}

@media only screen and (max-width: 637px) {
    nav {
        display: none;
    }

    h1 {
        flex-grow: 1;
        justify-content: center;
    }

    p {
        font-size: 14px;
    }

    footer a {
        font-size: 12px;
    }

    footer {
        justify-content: center;
        align-items: center;
    }

    .hide-link,
    #footer-h3 {
        display: none;
    }

}

@media only screen and (max-width: 1000px) {
    #grid-container {
        grid-template-areas: "about-me website-1"
            "website-2 website-2"
            "website-3 website-4";
    }

    body {
        padding: 50px;
    }
}