* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  /* border: solid 1px black; */
  margin-block-end: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

h1 {
  flex-basis: 35%;
  display: flex;
  align-items: center;
  padding-inline-start: 25px;
  font-size: large;

}

nav {
  flex-basis: 60%;
  position: relative;
}

li {
  list-style-type: none;
  padding-inline-start: 15px;
  font-size: 1rem;
}

ul {

  display: flex;
  justify-content: flex-end;
  flex-grow: 1;

}

.hero-banner {
  display: flex;
  flex-basis: 90%;
  border: solid;
  padding: 25px;
  background-image: url("../images/rainbow.webp");
  background-repeat: no-repeat;
  justify-content: center;
  background-size: cover;
}


.hero-banner h2 {
  color: white;
}
.second-heading {

  flex-basis: 20%;
  border-inline-end: 3px solid blue;
  font-size: 1rem;
  margin-inline-end: 10px;

}

.page-section p {
  margin-inline-start: 25px;
  flex-basis: 60%;
  flex-grow: 1;
  text-align: justify;
  margin-inline-end: 10px;
  word-spacing: -2px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  margin-block-start: 10px;
  /* border: solid 1px red; */
  row-gap: 10px;
}

.page-section {
  display: flex;
  margin-inline-start: 25px;


}

#work {
  display: flex;
  flex-direction: row;
}

/* div {
  border: solid 1px black;
} */

#images-section {

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 10px;


}

#top,
#middle,
#bottom {
  display: flex;

}

#top {
  background-image: url("../images/wood.jpeg");
  background: cover;
  background-repeat: no-repeat;
  height: 150px;
}

#middle {
  flex-direction: column;
  width: 100%;
  height: 300px;
  row-gap: 10px;
}

#bottom {
  flex-direction: column;
  height: 300px;
  width: 100%;
  row-gap: 10px;
}

#middle-left {
  background-image: url("../images/houses.webp");

}

#middle-right {
  background-image: url("../images/02-run-buddy.jpg");
}

#buttom-left {
  background-image: url("../images/02-portfolio-4.jpg");
}

#bottom-right {
  background-image: url("../images/02-portfolio-3.jpg");
}

#top,
#middle-left,
#middle-right,
#bottom-left,
#bottom-right {
  height: 200px;
  background-size: cover;
  padding: 10px;
  border: 5px solid aqua;

}


footer {
  display: flex;
  justify-content: space-evenly;
  flex-basis: 60%;
  flex-grow: 1;
}

footer a {
  padding: 10px;
  
}
#contact-links {
  display: flex;
  flex-basis: 79%;
  justify-content: space-evenly;
}
@media only screen and (max-width: 637px) {
  nav {
    display: none;
  }
  h1 {
    flex-grow: 1;
  }
}